.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card { 
    background-color: lightgray;
    padding: 10px;
    margin: 5px;
    flex: 0 1 500px;
    width: 50%;
}

.card-title {
    font-style: italic;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
}